@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-4">
    <div class="row">
        @foreach (var prd in Model.Products.Where(p => p.IsActive))
        {
            <partial name="_ProductCard" model="prd" /> 
        }
    </div>
</div>
